PORT=8000
NODE_ENV=development
BASE_PATH="/api/v1"

APP_ORIGIN="http://localhost:3000"
JWT_SECRET="your_secret_key"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="your_refresh_secret_key"
JWT_REFRESH_EXPIRES_IN="7d"

MONGO_URI=localhost:27017/schema-forge-dev

RESEND_API_KEY="your_resend_api_key"
MAILER_SENDER="your_resend_mail_sender"

# Node mailer credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@gmail.com
SMTP_PASS='your_password'
SMTP_FROM=sender@gmail.com